.container{
    max-width: none;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: #011627;
}

ul{
    display: flex;
    gap: 3.5rem;
    
}

.nav-link {
    text-decoration: none;
    color:cornflowerblue;
    font-size: 1.2rem;
    position: relative;

    &:hover{
        color: whitesmoke;
    }

    &::after{
        content: "";
        border-bottom: 0.5px solid white;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0%;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
}
}

.nav-link:hover:after{
    width: 100%;
}

